<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<title>文件列表</title>
<script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.2.1/nanobar.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/worker.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/css.css') }}">
</head>
<body>
    <p>
         <h1>《{{info[1]}}》文件列表</h1>
    </p>
    <!--这里设计表单数据，最终是通过submit按钮触发
    action=/deal_request，
    即上面HelloWorld.py的/deal_request路由-->
    <div class="infoBox" style="width: 80%;text-align: left;margin:3em">
        <!--'mhid','title','statu','cover_pic','author','summary','from_unixtime(create_time)','url_org']-->
       <div>mhid:{{info[0]}}</div>
       <div>title:{{info[1]}}</div>
       <div>statu:{{info[2]}}</div>
       <div>author:{{info[4]}}</div>
       <div>create_time:{{info[6]}}</div>
       <div>url_org:{{info[7]}}</div>
       <div>cover_pic:{{info[3]}}</div>
       <div>summary:{{info[5]}}</div>
       <div class = "operater">
            <div >
                <p>本地根目录: <input type="text" list="rootpath" name="M" value="{{rootpath}}" style="width: 50%;"/> </p>
                <datalist id ="rootpath">
                    <option>./ix/cover</option>
                    <option>./iix/cover</option>
                    <option>./ix</option>
                    <option>./iix</option>
                </datalist>
            </div> 
            <div >
                <p>web根目录: <input type="text" list="rootweb" name="M" value="{{rootweb}}" style="width: 50%;"/> </p>
                <datalist id ="rootweb">
                    <option>/Public/file/ix</option>
                    <option>/Public/file/ix/cover</option>
                    <option>/Public/file/iix/cover</option>
                    <option>/Public/file/iix</option>
                </datalist>
            </div>         
        <button  onclick="start_all('{{ info[0] }}')" >全部下载 </button>
        <button  onclick="window.location.href = '/bookfile?mhid={{ info[0] }}'" >全部上传 </button>
       </div>
       
    </div>

    <div id="progress"></div>
    <div class ="listBox">
        <!--'mhid','ji_no','url_org','url','pathname','from_unixtime(create_time)'-->
        <div class ="title "><span>'ji_no',</span><span>url_org',</span><span>'url',</span><span>'pathname',</span><span >'create_time',</span>'操作'</div>
        {% for n in items %}        
            <div class = item ><span>{{ n[1] }},</span><span>{{ n[2] }},</span><span>{{ n[3] }},</span><span>{{ n[4] }},</span><span  >{{ n[5] }},</span> 
                <span><button onclick="start('{{ n[2] }}','{{ n[4] }}')" >下载</button></span>
            </div>
        {% endfor %}
    </div>

</body>
<script type="text/javascript">

    // 按钮点击事件	
    // $(function() {
    //        //var data = {url:"/jobs",param:"{id:123,title:good}"};	
    //        $('#start-bg-job').click(start);
    //        $('#skip-job').click(jump);		
    //    });
    function getUrlParam(name)
    {
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
        var r = window.location.search.substr(1).match(reg);  //匹配目标参数
        if (r!=null) return unescape(r[2]); return null; //返回参数值
    }

    function start_all(comicid){
  
        var data = {url:"/jobs",param:{cmd:"downloadpics",mhid:comicid}};
        var ji_no = getUrlParam('ji_no');
        if (null != ji_no){
            data = {url:"/jobs",param:{cmd:"downloadpics",mhid:comicid,ji_no:ji_no}};
        }
        start_long_task(data);

    }
    
    
    function start(url,filename){
  
        var data = {url:"/jobs",param:{cmd:"download",url:url,filename:filename}};
        start_long_task(data);
    
    }

    
</script>
</html>
